/* Container */

.container {
  padding: 3%;
}

/* Element sizing */

.block-full-width {
  display: block;
  width: 100%;
  background-color: #3D315B;
  padding-top: 7%;
  padding-bottom: 7%;
}

.max-height-205 {
  max-height: 205px;
}

.vert-align {
  vertical-align: middle
}
/* Padding */

.pad-left-right-10 {
  padding-left: 10%;
  padding-right: 10%;
}
.pad-left-right-140 {
  padding-left: 5%;
  padding-right: 5%;
}

.pad-left-5 {
  padding-left: 5% !important;
}

.pad-left-40 {
  padding-left: 40px;
}

/* Margins */

.icon-margin-custom {
  margin-left: 5px;
}

.float-right {
  float: right;
  margin-right: 10px;
}

.navleft span {
  float:right;
}
/* Hero */

.hero {
  height: 230px;
  background-color: #246A73;
}

/* Bg Colors */

.background-black-custom {
  background-color: #071108;
}

.background-purple-custom {
  background-color: #362B50;
}

.background-grey-custom {
  background-color: #F3F3F3;
}

.border-left-green {
  border-left: 6px solid #246A73;
}

.background-purple-custom {
  background-color: #66389E;
}

.background-white-custom {
  background-color: #FFF
}

/* Text */

.white-text-custom {
  color: #F3F3F3;
}

.black-text-custom {
  color: #182119;
}

.purple-card-header {
  font-size: 1.1em;
  color: #3D315B;
  font-weight: bold;
}

.pink-text-custom {
  color: #DB1949;
}

.account-total {
  font-size: 2.850em;
  color: #182119;
}

.left-nav-small {
  font-size: 0.9em;
  font-weight: bold;
}

.spacing-1 {
  letter-spacing: 1px;
}

.text-opacity-95 {
  opacity: 0.95;
}

.font-16 {
  height: 0.8em;
  width: 0.8em;
}

.text-08 {
  font-size: 0.8em;
}

/* Cards */

.custom-card-grey {
  background-color: #F3F3F3;
  border-bottom: 6px solid #246A73;
}

.custom-card-grey img {
  padding-left: 5%;
  padding-right: 5%;
}
/* Anchors */

.inline-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-none {
  list-style: none;
}

.border-bottom-half:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 20%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid #246A73; /* This creates the border. Replace black with whatever color you want. */
}

/* SVG */

.mouse img {
  height: 35px;
}
/* ============================================================= */

/* Page 2 specific */

.nav {
  height: 400px;
  background-color: #66389E;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
}

.section2 {
  padding-left: 10%;
  padding-right: 10%;
}

.section3 {
  background-color: #F3F3F3;
  padding: 5% 10% 5% 10%;
}

.section4 {
  background-color: #66389E;
  padding: 5% 10% 5% 10%;
}
/* Buttons */

.button-pink {
  border-radius: 52px;
  background-color: #DB1949;
  color: #ECECEC !important;
}

.button-white-nofill {
  border-radius: 52px;
  background-color: transparent;
  border: 2px solid #ECECEC !important;
  color: #ECECEC !important;
  margin-left: 20px !important;
}

/* Text */

.purple-link-text {
  color: #66389E;
}

/* Cards */

.white-card {
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.16);
  border-radius: 22px;
  padding: 10%;
}

.white-card-2 {
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.16);
  border-radius: 22px;
  padding: 7%;
}
